@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jalkahoitola</h1>
    
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Products Groups table &raquo;</a></p>
    <input id="Button1" type="button" value="button" />
   
</div>


